.div_garanty_1{
  width: 100%;
  height: 20px;
  background-color: red;
}

.div_garanty_2{
  width: 100%;
  height: 20px;
  background-color: black;
}

.div_garanty_3{
  width: 100%;
  height: 20px;
  background-color: yellow;
}
